<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="kilometers">千米
    <input type="text" v-model="meters">米
</div>

<script>
  new Vue({
    el: "#app",
    data: {
      kilometers: 0,
      meters: 0
    },
    watch: {
      kilometers: function () {
        this.meters = this.kilometers * 1000;
      },
      meters: function () {
        this.kilometers = this.meters / 1000;
      }
    }

  })
</script>

</body>
</html>